@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Barriecito&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Lobster&family=Playwrite+CA:wght@100..400&family=Roboto:ital,wdth,wght@0,80,100..900;1,80,100..900&family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Barriecito&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Playwrite+CA:wght@100..400&family=Roboto:ital,wdth,wght@0,80,100..900;1,80,100..900&family=Rubik+Distressed&display=swap');
@import "tailwindcss";





@theme {
  
   --color-black-1: #000814;
    --color-white-1: #d5dde2;
	 --color-grey-1: #6c757d;
	  --color-blue-1: #6c757d;
	  --color-print:#343a40;
   --font-custom: "Lobster", sans-serif;
   --font-custom2:"Inter", sans-serif;
}
html {
	width: 100%;
	min-height: 100vh;
	background:  #d5dde2;
}

#logo{
	
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 50%;

}


